<div class="container">
<p id="notice"><%= notice %></p>

<p class="text-center mb-3">
  <strong>Author:</strong>
  <%= @post.author.full_name %>
</p>

<p class="text-center mb-3">
  <strong>Author ID:</strong>
  <%= @post.author_id %>
</p>

<p class="text-center mb-3">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p class="text-center mb-3">
  <%= image_tag(@post.image, width: "600", alt: "Post image", class: "img-fluid py-4") if @post.image.present? %>
</p>

<p class="text-center mb-3">
  <strong>Content:</strong>
  <%= @post.content %>
</p>

  <div class="d-flex justify-content-center d-flex align-items-center">
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary btn-lg" %> |
    <%= link_to 'Back', posts_path, class: "btn btn-secondary btn-lg" %>
  </div>
 <hr>
</div>